<section class="flex flex-col lg:flex-row gap-5">
  <div class="border mb-10">
    <h1
      class="text-xl md:text-3xl font-bold text-teal-500 underline text-center mb-5"
    >
      Doctor Form
    </h1>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit($event)"
      class="min-w-[400px] mx-auto px-2"
    >
      <!-- Name -->
      <Field label="name">
        <input
          #inputRef
          type="text"
          [formControl]="getControl('name')"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          [class.invalid]="
            (getControl('name').invalid && getControl('name').touched) ||
            isSubmitted
          "
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 0)"
          required
        />
      </Field>
      <!-- Address -->
      <Field label="address">
        <input
          #inputRef
          type="text"
          [formControl]="getControl('address')"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 1)"
        />
      </Field>
      <div class="grid grid-cols-2 gap-2">
        <!-- ContactNo -->
        <Field label="contact No.">
          <input
            #inputRef
            type="text"
            [formControl]="getControl('contactNo')"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
            placeholder=""
            (keydown.enter)="handleEnterKey($event, 2)"
          />
        </Field>
        <!-- DrFee -->
        <Field label="doctor Fee">
          <input
            #inputRef
            type="number"
            [formControl]="getControl('drFee')"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
            placeholder=""
            (keydown.enter)="handleEnterKey($event, 3)"
          />
        </Field>
      </div>

      <div class="grid grid-cols-2 gap-2">
        <!-- TakeCom -->
        <Field label="Take Commission" [isInvalid]="false">
          <select
            #inputRef
            name="takeCom"
            [formControl]="getControl('takeCom')"
            placeholder=""
            (keydown.enter)="handleEnterKey($event, 4)"
            class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          >
            @for(option of takeComOptions; track $index){
            <option [value]="option.id" class="capitalize">
              {{ option.name }}
            </option>
            }
          </select>
        </Field>
        <!-- IsChamberDoctor -->
        <Field label="is Chamber Doctor" [isInvalid]="false">
          <select
            #inputRef
            name="isChamberDoctor"
            [formControl]="getControl('isChamberDoctor')"
            placeholder=""
            (keydown.enter)="handleEnterKey($event, 5)"
            class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          >
            @for(option of isChamberOptions; track $index){
            <option [value]="option.id" class="capitalize">
              {{ option.name }}
            </option>
            }
          </select>
        </Field>
        <!-- Valid -->
        <!-- <app-input
          cType="select"
          [options]="optionsD"
          label="Valid"
          [formControl]="getControl('valid')"
          (keydown.enter)="handleEnterKey($event, 6)"
        ></app-input> -->
      </div>

      <!-- mpoId -->
      <!-- <div class="flex flex-row gap-2 relative">
        <app-input
          class="w-full"
          label="Mpo Id"
          [formControl]="getControl('mpoId')"
          (focus)="isDropdownOpen = false"
          (keydown.enter)="handleEnterKey($event, 7)"
          (keydown)="handleMpoKeyDown($event)"
        >
          <button
            (click)="toggleDropdown($event)"
            class="absolute top-3 right-1"
          >
            <app-down-arrow></app-down-arrow>
          </button>
        </app-input>
        
        <div>
          <button
            (click)="addMpo($event)"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-cyan-700 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-1 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
              Add
            </span>
          </button>
        </div>
        
        <div
          *ngIf="isDropdownOpen && mpoOptions.length > 0"
          class="absolute bg-white border border-gray-300 mt-12 w-full z-10 rounded shadow-lg"
        >
          <ul>
            <li
              *ngFor="let option of mpoOptions; let i = index"
              (click)="selectMpo(option)"
              [class.highlighted]="i === highlightedIndex"
              class="py-2 px-3 hover:text-white hover:bg-teal-600 cursor-pointer"
            >
              {{ option }}
            </li>
          </ul>
        </div>
      </div> -->

      <div class="flex gap-2">
        <!-- Save -->
        <input
          #inputRef
          type="submit"
          [value]="selectedDoctor ? 'Update' : 'Save'"
          class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 h-10 w-full"
          (keydown.enter)="handleEnterKey($event, 6)"
        />

        <button
          (click)="formReset($event)"
          class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 h-10"
        >
          Clear
        </button>
      </div>
    </form>
  </div>

  <div class="w-full border mb-10 px-3 max-h-[98vh] overflow-scroll">
    <h1
      class="text-xl md:text-3xl font-bold text-teal-500 underline text-center"
    >
      Doctor List
    </h1>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
      <div class="flex items-end gap-2 flex-col md:flex-row px-2">
        <div class="bg-white dark:bg-gray-900 w-full max-w-lg">
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative mt-1">
            <div
              class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <app-search></app-search>
            </div>
            <input
              #searchInput
              type="text"
              id="table-search"
              autocomplete="off"
              class="block ps-10 text-xs text-gray-900 border border-gray-300 rounded bg-gray-50 focus:ring-teal-500 focus:border-teal-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500 w-full"
              placeholder="Search"
              (input)="onSearchDoctor($event)"
              (keydown)="handleSearchKeyDown($event)"
            />
          </div>
        </div>

        <div class="w-full max-w-lg">
          <label
            for="isChamber"
            class="block text-sm font-medium text-gray-900 dark:text-white"
            >Is Chamber Doctor</label
          >
          <select
            id="isChamber"
            name="isChamber"
            [(ngModel)]="isChamber"
            (change)="onLoadDoctors()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-teal-500 focus:border-teal-500 block w-full px-2 py-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
          >
            @for (item of isChamberOptions; track item.id) {
            <option [value]="item.id">{{ item.name }}</option>
            }
          </select>
        </div>

        <div class="w-full max-w-lg">
          <label
            for="takeCom"
            class="block text-sm font-medium text-gray-900 dark:text-white"
            >Is Take Commission</label
          >
          <select
            id="takeCom"
            name="takeCom"
            [(ngModel)]="takeCom"
            (change)="onLoadDoctors()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-teal-500 focus:border-teal-500 block w-full px-2 py-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
          >
            @for (item of takeComOptions; track item.id) {
            <option [value]="item.id">{{ item.name }}</option>
            }
          </select>
        </div>
      </div>

      @if (isLoading$ | async) {
      <p class="text-3xl font-bold text-center p-10 text-teal-600">
        Loading ...
      </p>
      } @else if (hasError$ | async) {
      <p class="text-3xl font-bold text-center p-10 text-red-600">
        There was an error loading data.
      </p>
      } @else if (filteredDoctorList().length === 0) {
      <p class="text-3xl font-bold text-center p-10 text-orange-600">
        Data is Empty.
      </p>
      } @else {
      <table
        class="w-full text-xs text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="p-1">name</th>
            <th scope="col" class="p-1">Contact</th>
            <th scope="col" class="px-1 py-3">Edit</th>
            <th scope="col" class="px-1 py-3">Delete</th>
            <!-- <th scope="col" class="p-1">Address</th>
            <th scope="col" class="p-1">fee</th> -->
            <!-- <th scope="col" class="p-1">mpo id</th> -->
            <!-- <th scope="col" class="p-1">is chamber doctor</th> -->
          </tr>
        </thead>
        <tbody>
          @for (item of filteredDoctorList().slice(0,20); track item?.id ||
          $index) {
          <tr
            id="row-{{ $index }}"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-teal-600 hover:text-white dark:hover:bg-gray-600 cursor-pointer"
          >
            <td scope="row" class="p-1">
              {{ item?.name }}
            </td>
            <td class="p-1">
              {{ item?.contactNo }}
            </td>
            <td>
              <button
                class="text-yellow-400 hover:bg-white px-1 rounded"
                (click)="onUpdate(item)"
              >
                Edit
              </button>
            </td>
            <td>
              <button
                class="text-rose-400 hover:bg-white px-1 rounded"
                (click)="onDelete(item.id)"
              >
                Delete
              </button>
            </td>
            <!-- <td class="p-1">
              {{ item?.address }}
            </td>
            <td class="p-1">
              {{ item?.drFee }}
            </td> -->
            <!-- <td class="p-1">
              {{ item?.mpoId }}
            </td> -->
            <!-- <td class="p-1">
              {{ is(item?.isChamberDoctor) }}
            </td> -->
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
</section>

@if (success()) {
<app-toast-success [title]="success()"></app-toast-success>
}
